@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .overlay {
    border-image-source: linear-gradient(
      hsla(239, 76%, 55%, 0.3),
      hsl(213 43% 30% / 1)
    );
    border-image-slice: fill 1;
  }

  .spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .spacer-2 {
    aspect-ratio: 16/9;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .layer1 {
    background-image: url(./assets/images/bg-waves.svg);
  }

  .skyline_v2 {
    background-image: url(./assets/images/chicago_skyline_v4.png);
    opacity: 0.1;
    filter: brightness(2);
  }

  .blob1 {
    background-image: url(./assets/images/blob1.svg);
    transform: scaleX(-1);
    position: absolute;
    opacity: 0.08;
    z-index: 1;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container::before {
    content: "";
    position: absolute;
    right: -20px;
    top: 20px;
    width: 100%;
    height: 100%;
    border: 10px solid rgba(76, 116, 190, 0.5);
    z-index: 2;
    border-radius: 1rem;
  }

  .image-container::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(94, 96, 206, 0.5),
      rgba(78, 168, 222, 0.5)
    );

    border-radius: 1rem;
    z-index: 0;
  }
  .image-container img {
    display: block;
    position: relative;
    border-radius: 2rem;
    z-index: 1;
  }

  .project-grid {
    display: grid;
    grid-template-areas:
      "textsquare project1"
      "project2 project3";
    grid-auto-columns: 1fr;
  }

  .textsquare {
    grid-area: textsquare;
  }
  .project-1 {
    grid-area: project1;
  }
  .project-2 {
    grid-area: project2;
  }
  .project-3 {
    grid-area: project3;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
